*{box-sizing: border-box;}





.css-14xtw13.e8zbici0,.css-163ttbj.e1fqkh3o11{
    display: none;
}

.st-b8.st-b9{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

/****menu bar ***/
.menu_div{
    padding: 0;
    background-color: #f0f2f6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    font-size: 24px;
    width: 100%;
    height: 100%;
}

.button_div{
    text-align: center;
    padding: 10px 20px;
    margin: 0;
    background-color: #f0f2f6;
    border: 1px solid #f0f2f6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.menu_link{
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
   
}

.button_div:hover,.button_div:hover .menu_link{
    text-decoration: none;
    color: #fff;
    background-color: #1a73e8;
}
.selected_menu{
    background-color: #c73205;
}









.css-1kyxreq.etr89bj2{
    display: initial;
}

.stMarkdown{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}





/********** plan page***********/
.plan_example_div{
    display: block;
    padding: 15px;
    text-align: left;
    background-color: rgb(240 242 246);
    color:rgb(44, 41, 41);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.plan_example_div>ul{
    font-size: 18px;
    font-weight: bold;
}

.explanation_example_div{
    display: block;
    padding: 15px;
    text-align: left;
    background-color: rgb(240 242 246);
    color:rgb(44, 41, 41);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.explanation_example_div>ul{
    font-size: 18px;
    font-weight: bold;
}